@page
@model MyHaflinger.Web.Pages.Anmeldung.Verwaltung.HashPasswordModel
@{
    ViewData["Title"] = "Generate Password Hash";
    Layout = "_Layout.Anmeldung";
}

<div class="row">
    <div class="col-md-10">
        <h1>Generate Password Hash</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password">Password to hash:</label>
                <input asp-for="Password" type="password" class="form-control" />
                @Html.ValidationMessage("Password")
            </div>
            <button type="submit" class="btn btn-default">Generate</button>
            <div>
                <p><br/><strong>@Model.Hash</strong></p>
            </div>
        </form>
    </div>
</div>
