<!DOCTYPE html>
<html>
<body>
    <h1>Anmeldebest&auml;tigung</h1>

    <p>Name: <br />{{Name}}</p>
    <p>Emailadresse: <br />{{EmailAddress}}</p>
    <p>Stra&szlig;e: <br />{{Street}}</p>
    <p>Postleitzahl: <br />{{Zip}}</p>
    <p>Stadt: <br />{{City}}</p>
    <p>Land: <br />{{Country}}</p>
    <p>Kennzeichen: <br />{{NumberPlate}}</p>
    <p>Telefon: {{Phone}}</p>
    <hr />
    <p>Teilnehmer Freitag: {{PParticipantsFriday}}</p>
    <p>Teilnehmer Sa/So: {{PParticipantsSatSun}}</p>
    <p>Zu zahlender Gesamtpreis (EUR): <br />{{TotalPrice}}</p>
    <hr />
    <p>Bemerkung: {{Notes}}</p>
    <hr />
    <p>
        <b>Zahlungsinformationen</b><br/>
        Kontoinhaber: Haflingerfreunde Salzkammergut<br />
        Bank: Oberbank<br />
        IBAN: AT28 1500 0001 7124 3116<br />
        BIC: OBKLAT2L<br />
    </p>
</body>
</html>
