<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="logfile4Anmeldung" xsi:type="File" fileName="Data\anmeldunglog.txt" />
    <target name="logfile" xsi:type="File" fileName="Data\log.txt" />
  </targets>

  <rules>
    <logger name="RegistrierungsTrace" minlevel="Trace" writeTo="logfile4Anmeldung" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /><!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
