@using System.Web.Mvc
@using MyHaflinger.Anmeldung
@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Haflingertreffen 2017";
    Page.Keywords = "Steyr Puch Haflinger,Oldtimer,Österreich,Salzkammergut,Haflingertreffen,Veranstaltung,Ausfahrt,Auto";
    Page.Description = "9. Internationales Salzkammergut Haflingertreffen der Haflingerfreunde Salzkammergut in Bad Ischl und Umgebung. Anmeldung, Programm und weitere Vorabinformationen.";
}

<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" title="Zur&uuml;ck zur Hauptseite der Haflingerfreunde Salzkammergut"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="#cta">Ank&uuml;ndigung</a></li>
                    @*<li class="scroll"><a href="#aboutus">&Uuml;ber uns</a></li>
                    <li class="scroll"><a href="#events">Treffen</a></li>
                    <li class="scroll"><a href="#videos">Videos</a></li>
                    <li class="scroll"><a href="#contact">Kontakt</a></li>*@
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->


<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>9. Internationales Salzkammergut Haflingertreffen</h2>
                <p>
                    <strong>Kontakt</strong><br />
                    <a href="mailto:skgt.haflingertreffen2017@gmail.com">skgt.haflingertreffen2017@gmail.com</a><br/>
                    Telefonisch bei Friedo Jäger, +43 664 60132215<br/>
                    <strong>Treffpunkte</strong><br/>
                    Freitag: Kurpark Bad Ischl (Navi: Kurhausstra&szlig;e 8, 4820 Bad Ischl)<br/>
                    Samstag+Sonntag: Museum für Fahrzeug und Technik (Navi: Sulzbach 178, 4820 Bad Ischl)<br />
                </p>
            </div>
            <div class="col-sm-3 text-right">
                23. Juni 2017 - 25. Juni 2017
                <a class="btn btn-primary btn-lg" href="/Anmeldung/Start">Anmelden!</a>
            </div>
        </div>
    </div>
</section><!--/#cta-->

<section id="meet-team">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Programm</h2>
            <p class="text-center wow fadeInDown">
                Im Rahmen des Treffens findet am Samstag ein Teilemarkt statt. <br/>Anbieter mögen sich mit dem Veranstalter zwecks Platzreservierung in Verbindung setzen.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="column-title">Freitag 23. Juni</h3>
                <div class="tab-pane fade active in">
                    <div>
                        <em>Ab 13 Uhr</em>
                    </div>
                    <div>
                        Ausgabe der Teilnehmerunterlagen auf der Terrasse des Kongresszentrums im Kurpark.<br/>
                        Ausfahrt in mehreren Gruppen zu einem der sch&ouml;nsten Aussichtspunkte auf Bad Ischl.
                    </div>
                    <div>
                        <em>Ab 19 Uhr</em>
                    </div>
                    <div>
                        Gemeinsames Abendessen im Gasthof "Zur Wacht".
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="column-title">Samstag 24. Juni</h3>
                <div class="tab-pane fade active in">
                    <div>
                        <em>Ab 7 Uhr</em>
                    </div>
                    <div>
                        Beginn der Veranstaltung mit Teilemarkt am Areal des Museums für Fahrzeug-Technik-Luftfahrt in 
                        Bad Ischl. Ausgabe der Teilnehmerunterlagen.
                    </div>
                    <div>
                        <em>8:30</em>
                    @*</div>
                    <div>*@
                        Begrüßung.
                    </div>
                    <div>
                        <em>9 Uhr</em>
                    </div>
                    <div>
                        Start zur ganztägigen Rundfahrt durch das Salzkammergut mit Mittagsrast.
                    </div>
                    <div>
                        <em>Ab 18 Uhr</em>
                    </div>
                    <div>
                        Abendveranstaltung im Zentrum von Bad Goisern mit gemeinsamen Abendessen.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="column-title">Sonntag 25. Juni</h3>
                <div class="tab-pane fade active in">
                    <div>
                        <em>Ab 9 Uhr</em>
                    </div>
                    <div>
                        Abfahrt zum Gel&auml;ndefahren in der Kalkwerk-Schottergrube.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-right">Änderungen am Programm sind jederzeit möglich.</p>
        </div>
    </div>
</section><!--/#meet-team-->

<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Nenngeld</h2>
            <p class="text-center wow fadeInDown">
                Anmeldeschluß ist der Freitag 9. Juni. Die Anmeldung gilt als fix, wenn bis zu diesem Zeitpunkt die Teilnahmegebühr auf unserem Konto eingelangt ist.<br/>
                Anmeldungen am Veranstaltungstag können leider nicht mehr berücksichtigt werden.<br/>
                Campingmöglichkeit besteht direkt beim Museum, ebenso Waschmöglichkeit. Bitte um Voranmeldung beim Veranstalter.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="main-nenngeld.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Teilnahme Freitag</h4>
                        <p>
                            @AnmeldungSettings.PricePerParticipantFriday EUR pro Person.
                            Beinhaltet Abendessen (exklusive Getränke)
                        </p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-car"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Fahrer + Fahrzeug Sa+So</h4>
                        <p>
                            @AnmeldungSettings.PricePerCar EUR<br />
                            Beinhaltet Teilnahme an der Veranstaltung inklusive aller Benutzungsgebühren,
                            Mittagessen und Teilnahme an der Abendveranstaltung mit Verpflegung (exklusive Getränke), sowie
                            Überraschungspräsent pro Fahrzeug
                        </p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-male"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Beifahrer Sa+So</h4>
                        @AnmeldungSettings.PricePerPassenger EUR<br />
                        <p>
                            Beinhaltet Teilnahme an der Veranstaltung inklusive aller Benutzungsgebühren,
                            Mittagessen und Teilnahme an der Abendveranstaltung mit Verpflegung (exklusive Getränke)
                        </p>
                    </div>
                </div>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Kinder</h4>
                        <p>Für Kinder bis 15 Jahre ist die Teilnahme an allen 3 Tagen nenngeldfrei.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Eine Vorschau in Bildern</h2>
            @*<p class="text-center wow fadeInDown">Eine kleine Fotoauswahl von einer Probefahrt</p>*@
        </div>
        @*<div class="text-center">
        <ul class="portfolio-filter">
            <li><a class="active" href="#" data-filter="*">Alle</a></li>
            <li><a href="#" data-filter=".creative">Creative</a></li>
            <li><a href="#" data-filter=".corporate">Corporate</a></li>
            <li><a href="#" data-filter=".portfolio">Portfolio</a></li>
        </ul><!--/#portfolio-filter-->
        </div>*@
        <div class="portfolio-items">
            <div class="portfolio-item creative">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/treffen2017/images/portfolio/1small.jpg" alt="">
                    <div class="portfolio-info">
                        <a class="preview" href="/treffen2017/images/portfolio/1full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item corporate portfolio">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/treffen2017/images/portfolio/2small.jpg" alt="">
                    <div class="portfolio-info">
                        <a class="preview" href="/treffen2017/images/portfolio/2full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item creative">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/treffen2017/images/portfolio/3small.jpg" alt="">
                    <div class="portfolio-info">
                        <a class="preview" href="/treffen2017/images/portfolio/3full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item corporate">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/treffen2017/images/portfolio/4small.jpg" alt="">
                    <div class="portfolio-info">
                        <a class="preview" href="/treffen2017/images/portfolio/4full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
            <div class="portfolio-item corporate">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="/treffen2017/images/portfolio/5small.jpg" alt="">
                    <div class="portfolio-info">
                        <a class="preview" href="/treffen2017/images/portfolio/5full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
        </div>
    </div><!--/.container-->
</section><!--/#portfolio-->