@using MyHaflinger.Anmeldung.Data
@{
    Page.Title = "Teilnehmerliste";
    Layout = "~/Shared/_Layout.Anmeldung.cshtml";
}
@{
    if (!User.Identity.IsAuthenticated)
    {
        System.Web.HttpContext.Current.GetOwinContext().Authentication.Challenge();
    }

    var ctx = DbFactory.CreateContext(this.Server);
    var registrations = ctx.GetRegisteredParticipants();
}

<div>
    Liste, editierbar je nach Rolle
    Liste der RSVP Codes muß hier managebar sein
    Wo legen wir die # der max Teilnehmer ab?
</div>

<div>

    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Stadt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in registrations)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Name</td>
                    <td>@r.EmailAddress</td>
                    <td>@r.City</td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts{
<script>
    $(document).ready(function () {
        $("#myTable").tablesorter({ sortList: [[0, 0], [1, 0]] });
    }
    );
</script>
}