@{
    Page.Title = "Anmeldung für Veranstaltungswarte";
    Layout = "~/Shared/_Layout.Anmeldung.cshtml";
}
@using Newtonsoft.Json
@using MyHaflinger.Anmeldung
@using Microsoft.Owin.Security
@using Microsoft.AspNet.Identity
@{
    AdminPanel.RequireSsl();

    Validation.RequireField("username", "Benutzername muß eingegeben werden");
    Validation.RequireField("password", "Passwort muß eingegeben werden");

    var logger = NLog.LogManager.GetLogger("RegistrierungsTrace");
    string ipAddress = Request.ServerVariables["REMOTE_ADDR"];

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            string username = Request.Form["username"];
            string password = Request.Form["password"];

            var definedAccounts = JsonConvert.DeserializeObject<List<LogonUser>>(File.ReadAllText(Server.MapPath("~/App_Data/AnmeldungAccounts.json")));
            var user = definedAccounts.FirstOrDefault(a => a.Username == username && a.Password == password);

            if (user != null)
            {
                var authenticationManager = System.Web.HttpContext.Current.GetOwinContext().Authentication;
                authenticationManager.SignOut(DefaultAuthenticationTypes.ExternalCookie);

                var identity = AuthenticationFactory.CreateIdentity(username, user.Role);
                logger.Trace("SEC:S: User {0} logged in from {1}", username, ipAddress);

                authenticationManager.SignIn(new AuthenticationProperties() { IsPersistent = true }, identity);
            }
            else
            {
                logger.Trace("SEC:F: Invalid login atttempt for user {0} from {1}", username, ipAddress);
            }
        }
    }
}

<div class="row">
    <div class="col-md-10">
        <h1>Anmeldung für Veranstaltungswarte</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.ValidationSummary()
            <div class="form-group">
                <label for="username">Benutzername: </label>
                <input type="text" id="username" name="username" class="form-control" />
                @Html.ValidationMessage("username")
            </div>
            <div class="form-group">
                <label for="password">Passwort: </label>
                <input type="password" id="password" name="password" class="form-control" />
                @Html.ValidationMessage("password")
            </div>
            <button type="submit" class="btn btn-default">Anmelden</button>
        </form>
    </div>
</div>
