@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    Response.Redirect("/Treffen2017/");
    Response.End();
}

<div>
    allgemeine Registrierungsinfos, link auf start
</div>