@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    // https://www.asp.net/web-pages/overview/ui-layouts-and-themes/4-working-with-forms

    // https://web.archive.org/web/20110416063426/http://ccrbu.w4yserver.at/wb/pages/home/haflingertreffen-2011online-anmeldung.php
    // https://web.archive.org/web/20110418225741/http://ccrbu.w4yserver.at/wb/media/Haflingertreffen%202011%20downloads/2011%2002%2018%20Anmeldeformular%20Haflingertreffen%202011.pdf
    // https://github.com/praeclarum/sqlite-net

    // http://www.mikesdotnetting.com/article/191/validation-in-razor-web-pages-2
}

<div>
    Alle Daten abfragen
    Speichern
    Email verschicken an Tlnr mit Kontoinformationen

</div>