@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}
@{ 
    if (!User.Identity.IsAuthenticated)
    {
        System.Web.HttpContext.Current.GetOwinContext().Authentication.Challenge();
    }
}

<div>
    Liste, editierbar je nach Rolle
</div>