@page
@using Treffen
@model MyHaflinger.Web.Pages.Treffen2014.IndexModel
@{
    ViewData["Title"] = "Haflingertreffen 2014";
    ViewData["Keywords"] = "Steyr Puch Haflinger,Oldtimer,Österreich,Salzkammergut,Haflingertreffen,Veranstaltung,Ausfahrt,Auto";
    ViewData["Description"] = "8. Internationales Salzkammergut Haflingertreffen der Haflingerfreunde Salzkammergut in Bad Ischl und Umgebung.";
}

<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" title="Zur&uuml;ck zur Hauptseite der Haflingerfreunde Salzkammergut"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="#cta">Programm</a></li>
                    <li class="scroll"><a href="#FotosFilme">Fotos &amp; Filme</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>8. Internationales Salzkammergut Haflingertreffen</h2>
                <p>
                    Ausfahrt am Samstag in die Gosau mit Besichtigung der Schleifsteinbrüche / Löckermoos<br />Spezialgelände am Sonntag
                </p>
            </div>
            <div class="col-sm-3 text-right">
                13. Juni 2014 - 15. Juni 2014<br />
            </div>
        </div>
    </div>
</section><!--/#cta-->

<section id="meet-team">
    <div class="container">
        <div class="section-header">
            <h2 id="FotosFilme" class="section-title text-center wow fadeInDown">Fotos &amp; Filme</h2>
            <p class="text-center wow fadeInDown">
                Es gibt vom Treffen 2014 hauptsächlich bewegtes Bild (unser Auto ist ja am schönsten wenn es in Aktion ist).
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="column-title">Fotogalerien</h3>
                <div class="tab-pane fade active in">
                    <div>
                        <em>Unsere Galerien</em>
                    </div>
                    <div>
                        <ul>
                            <li><a href="/Fotos/Treffen2014/Gosausee/index.html">Fotos Gosausee</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="column-title">Filme</h3>
                <div class="tab-pane fade active in">
                    <div>
                        <em>Youtube</em>
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://youtu.be/9kq4ODd60c8">Freitag</a> (Aufstellung Kurpark, Ausfahrt, Abendessen)</li>
                            <li>Samstag: <a href="https://youtu.be/2uQQp9ew6WA">Teil 1</a></li>
                            <li>Samstag: <a href="https://youtu.be/LrxKninx3wc">Teil 2</a></li>
                            <li>Samstag: <a href="https://youtu.be/bWaUI88px5Q">Besichtigung L&ouml;ckermoos</a></li>
                            <li>Samstag: <a href="https://youtu.be/R99qSSX0__4">Besichtigung Gosauer Schleifsteinbr&uuml;che</a></li>
                            <li><a href="https://youtu.be/KuNUUnPibvk">Gel&auml;nde Sonntag</a></li>
                            <li><a href="https://youtu.be/2_pvcOZIRx4">Vorf&uuml;hrrunde im Gel&auml;nd</a>e mit Christian Gamsj&auml;ger</li>
                            <li><a href="https://youtu.be/V1VIuUs4PGM">Rainer Wolfgang auf einer Runde im Gel&auml;nde</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="column-title">Downloads</h3>
                <div class="tab-pane fade active in">
                    <div>
                        <em>Full-HD Videos (rechte Maustaste, Speichern unter)</em>
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://downloads.haflingereins.com/2014/Freitag_fhd.mp4">Ausfahrt Freitag</a> (799 MB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/AusfahrtSamstagBisLoeckermoosB_fhd.mp4">Samstag Teil 1 (bis Löckermoos)</a> (610 MB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/RossalmRG_SchleifsteinbruchG_HeimfahrtR_fhd.mp4">Samstag Teil 2 (Rossalm, bis inkl Heimfahrt)</a> (952 MB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/Loeckermoos_fhd.mp4">Besichtigung Löckermoss</a> (163 MB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/Schleifsteinbrueche_fhd.mp4">Besichtigung Schleifsteinbrüche</a> (619 MB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/GelaendeSonntag_fhd.mp4">Gelände Sonntag</a> (1.12GB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/VorfuehrrundeChristianGamsjaeger_fhd.mp4">Vorführrunde Gelände</a> (381 MB)</li>
                            <li><a href="https://downloads.haflingereins.com/2014/RainerWolfgangGelaende_fhd.mp4">Im Gelände mit Rainer Wolfgang</a> (434 MB)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#meet-team-->
